       body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #ffffff00;
        }

        .contact {
            background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255)), url(../../assets/svg/common-bg.svg);
            background-size: cover;
            background-position: center;
            
            text-align: center;
        }

      

        .contact h2 {
            margin-top: rem; 
            margin-bottom: 3rem;
            color: #333;
            width: 98%;
        }   

        .texto {
            position: relative;
            top: 150px;
            font-size: 0.8rem; 
        }
        .contact-info {
            display: flex;
            justify-content: center; 
            align-items: center; 
            height: 10cm; 
            width: 100%; 
        }
        
        .contact-info img {
            opacity: 0.4; 
            width: 600px; 
            height: 500px; 
            
        }
        .contact-count {
            display: flex; 
            justify-content: center; 
            align-items: center; 
        }
        
        .contact-1,
        .contact-2,
        .contact-3,
        .contact-4 {
            display: flex;
            justify-content: center; 
            align-items: center;
            height: 3.1cm; 
            margin: 0.9cm;
        }
        
        .contact-1 a img,
        .contact-2 a img,
        .contact-3 a img,
        .contact-4 a img {
            width: 1cm;
            height: auto; 
        }
        .contact-line{
            width: 100%;
            height: 10cm;
            margin-top: -2cm;
            margin-bottom: cm;
        }
        .texto2 {
            margin-top: -22rem; 
            color: #333;
            margin-bottom: -30%;
    
        }
        .sidebar {
            position: fixed;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            display: flex;
            flex-direction: column;
            background-color: #000000;
            color: #ffacbc;
        }
         
        .sidebar a {
            padding: 10px;
            text-decoration: none;
            color: #ffacbc;
            writing-mode: vertical-rl;
            text-orientation: mixed;
            font-weight: bold;
            text-align: center;
            border-bottom: 1px solid #fff;
        }
        .sidebar a:hover {
            background-color: #ffffff; 
        }    

      