
body {
    font-family: Arial, sans-serif;
    margin: 5rem 5vw 1rem 5vw;
    padding: 0;
    background-color: #ffffff;
    overflow: hidden;
}

.contact {
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255)), url(../../assets/svg/common-bg.svg);
    background-size: cover;
    background-position: center;
    text-align: center;
    z-index: 3;
}

@keyframes aparecer {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1; 
    }
}


.contact-count {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.contact-1,
.contact-2,
.contact-3,
.contact-4 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 10vh; 
    margin: 2%; 
    z-index: 2;
}

.contact-1 a img,
.contact-2 a img,
.contact-3 a img,
.contact-4 a img {
    width: 2.5vw; 
    height: auto;
    z-index: 2;
    margin: 0% 0% 0%;
    transition: transform 0.3s ease; 
}

.contact-1 a img:hover,
.contact-2 a img:hover,
.contact-3 a img:hover,
.contact-4 a img:hover {
    transform: scale(1.5); 
}

@media (max-width: 768px) {
    .contact-1,
    .contact-2,
    .contact-3,
    .contact-4 {
        height: 15vh; 
    }

    .contact-1 a img,
    .contact-2 a img,
    .contact-3 a img,
    .contact-4 a img {
        width: 5vw; 
        margin-top: -2vh;
    }
}

@media (max-width: 480px) {
    .contact-1,
    .contact-2,
    .contact-3,
    .contact-4 {
        height: 20vh; 
    }

    .contact-1 a img,
    .contact-2 a img,
    .contact-3 a img,
    .contact-4 a img {
        width: 1200vw; 
        margin-top: -3vh; 
    }
}
.contact-line img {
    width: 72%; 
    height: 2%; 
    object-fit: cover; 
}


.contact-line {
    width: 100%; 
    height: 15vh;
    margin-top: -17vh;
    margin-bottom: -4%;
}

@media (max-width: 768px) {
    .contact-line {
        height: 20vh;
        margin-top: -6vh; 
    }
}

@media (max-width: 480px) {
    .contact-line {
        height: 25vh; 
        margin-top: -7vh; 
    }
}


.texto2{
    position: relative;
    margin-top: 4vh; 
    color: #000000;
    font-size: 2rem;
}   
.sidebar {
    position: fixed;
    z-index: 2;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    background-color: #000000; 
    color: #ffffff ;
}

.sidebar a {
    padding: 10px;
    text-decoration: none;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-weight: bold;
    text-align: center;
    background-color: #000000; 
    color: #ffffff !important;
    transition: background-color 0.3s; 
}

.sidebar a:hover {
    background-color: #ffffff; 
    color: #000000 !important; 
}
  h1 {
    font-family:monospace;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
}
.circle {
    position: absolute;
    background-color: #ffacbc;
    border-radius: 50%;
    z-index: 10; 
    opacity: 0; 
    animation: aparecer 1s ease-out forwards; 
    width: clamp(120px, 5vw, 150px);
    height: clamp(130px, 5vw, 150px);
}

.circle-1 {
    top: 37%;
    left: 29%;
}

.circle-2 {
    right: 25.3%;
    bottom: 49%;
}

.circle-3 {
    bottom: 49%;
    left: 51.1%;
}

.texto-1 {
    margin-top: 20%;
    margin-bottom: -10%;
    color: #ffacbc;
    width: 98%;
    font-size: 10rem;
    text-align: center;
    font-weight: bold;
    opacity: 0; 
    animation: aparecer 2s ease-out forwards; 
    z-index: 5; 
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}




    .boton {
        padding: 10px 20px;
        background-color: #000000;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 8px;
        cursor: pointer;
        position: fixed;
        bottom: 2px; 
        left: 5px;
    }
    
    .boton:hover {
        background-color: #333333;
    }
    
    .mensaje-emergente {
        display: none; 
        padding: 15px;
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        border: 2px solid #000000; 
        border-radius: 5px;
        margin-top: 220px;
        font-size: 13px;
        position: relative; 
        left: 50px; 
    }

    .cerrar {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 18px;
        cursor: pointer;
        font-weight: bold;
        color: rgb(0, 0, 0);
    }
    
    .cerrar:hover {
        color: #ddd;
    }