body {
    font-family: Arial, sans-serif;
    margin: 5rem 5vw 1rem 5vw;
    padding: 0;
    background-color: #ffffff00;
    overflow: hidden;
}

.contact {
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255)), url(../../assets/svg/common-bg.svg);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.contact h2 {
    margin-top: 0; 
    margin-bottom: 3rem; 
    color: #333;
    width: 98%;
}   

.texto {
    position: relative;
    top: 25vh; 
    font-size: 0.8rem;
}

.contact-info {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 15cm; 
    width: 100%; 
}

.contact-info img {
    opacity: 0.4; 
    max-width: 100vh;
    min-width: 20vh ;
    width: 600px; 
    height: 500px; 
}

.contact-count {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.contact-1,
.contact-2,
.contact-3,
.contact-4 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 3.2cm; 
    margin: 0.9cm;
}

.contact-1 a img,
.contact-2 a img,
.contact-3 a img,
.contact-4 a img {
    width: 1.0cm; 
    height: auto; 
}

.contact-line {
    width: 100%;
    height: 10cm;
    margin-top: -2cm;
}

.texto2 {
    position: relative;
    top: -35vh;
    font-size: 2rem;
}

.sidebar {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    background-color: #000000;
    color: #ffacbc;
}

.sidebar a {
    padding: 10px;
    text-decoration: none;
    color: #ffacbc;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #fff;
}

.sidebar a:hover {
    background-color: #ffffff; 
}

@media (max-width: 768px) {
    .contact-info {
        flex-direction: column; 
        height: auto; 
    }
    .contact-info img {
        width: 90%; 
    }
    .contact-1, .contact-2, .contact-3, .contact-4 {
        height: auto;
        margin: 0.5cm;
    }
    .sidebar {
        width: 100%;
        position: relative;
        top: auto; 
        right: auto;
        transform: none; 
    }
}