* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffacbc;
    font-family: Arial, sans-serif;
}

.container {
    width: 1830px;
    padding: 300px;
    background-color: #fff;
    border-radius: 20px;
    text-align: center;
}

.container h2 {
    font-size: 1.2rem;
    color: #333;
    font-weight: normal;
}

.container h1 {
    font-size: 3rem;
    color: #ffacbc;
    font-weight: bold;
    margin: 10px 0;
}
.animated-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.animated-text span{
    position: relative;
}

.animated-text span::before{
    content: 'From Now ON.';
    color: #ffacbc ;
    animation: words 20s infinite;
}

.animated-text span::after{
    content: '';
    background-color: #ffffff;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 2px solid rgb(0, 0, 0);
    right: -5px;
    animation: cursor .6s infinite, typing 15s steps(14) ;
}

@keyframes cursor {
    to {
        border-left: 2px solid #fff;
    }
    
}
@keyframes words {
    0%, 100% {
        content:'From Now ON.'
    }
}

@keyframes typing {
    10% , 15%, 20%, 25%, 30%, 35%, 40%, 45%, 50%, 55%, 60%, 65%, 70%, 75%, 80%, 85%, 90%, 95% {
        width: 0;
    }
    5% , 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
        width: calc(100%+8px);
    }
}

.record-selection {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.record-selection img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.logo {
    margin-top: 20px;
}

.logo img {
    width: 60px;
}


