@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap');

/* General Styles */
body {
    margin: 0;
    background-color: #000;
    color: #eee;
    font-family: Poppins, sans-serif;
    overflow: hidden;
}

a {
    text-decoration: none;  
}

/* Header Styles */
header {
    width: 1140px;
    max-width: 80%;
    margin: auto;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
}

header a {
    color: #eee;
    margin-right: 5px;
    padding: 5px 10px;
    transition: 0.2s;
}

header a:hover {
    background: #ffacbc;
    border-radius: 2px;
}

/* Slider Styles */
.slider {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.slider .list .item {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
}

.slider .list .item img,
.slider .list .item video { 
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .list .item .content {
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}

.slider .list .item .content .title,
.slider .list .item .content .type {
    font-size: 5em;
    font-weight: bold;
    line-height: 1.3em;
}

.slider .list .item .type {
    color: #ffacbc;
}

.slider .list .item:nth-child(1) {
    z-index: 1;
}

/* Animations for Slider Content */
.slider .list .item:nth-child(1) .content .title,
.slider .list .item:nth-child(1) .content .type,
.slider .list .item:nth-child(1) .content .description,
.slider .list .item:nth-child(1) .content .buttons {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}

.slider .list .item:nth-child(1) .content .title {
    animation-delay: 0.4s !important;
}

.slider .list .item:nth-child(1) .content .type {
    animation-delay: 0.6s !important;
}

.slider .list .item:nth-child(1) .content .description {
    animation-delay: 0.8s !important;
}

.slider .list .item:nth-child(1) .content .buttons {
    animation-delay: 1s !important;
}

/* Slider Next/Prev Styles */
.slider.next .list .item:nth-child(1) img,
.slider.next .list .item:nth-child(1) video {
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}

.slider.next .thumbnail .item:nth-last-child(1) {
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}

.slider.prev .list .item img,
.slider.prev .list .item video {
    z-index: 100;
}

.slider.next .thumbnail {
    animation: effectNext .5s linear 1 forwards;
}

.slider.prev .list .item:nth-child(2) {
    z-index: 2;
}

.slider.prev .list .item:nth-child(2) img,
.slider.prev .list .item:nth-child(2) video {
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}

.slider.prev .thumbnail .item:nth-child(1) {
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}

.slider.prev .list .item:nth-child(2) .content .title,
.slider.prev .list .item:nth-child(2) .content .type,
.slider.prev .list .item:nth-child(2) .content .description,
.slider.prev .list .item:nth-child(2) .content .buttons {
    animation: contentOut 1.5s linear 1 forwards !important;
}

/* Thumbnail Styles */
.thumbnail {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(100px); 
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}

.thumbnail .item {
    width: 200px;
    height: 270px;
    flex-shrink: 0;
    position: relative;
}

.thumbnail .item img,
.thumbnail .item video { 
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.thumbnail .item:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

/* Overlay Styles */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    z-index: 1000; 
}

.overlay img,
.overlay video {
    max-width: 70%;
    max-height: 70%;
    border-radius: 20px;
    margin: 20px auto 0;
    object-fit: contain;
}

.EimagenProyectos1 {
    width: 60% !important;
    height: auto;
}

.overlay-description-container {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start;
    gap: 30px; 
    flex-wrap: wrap; 
    padding: 20px; 
    position: absolute;
    bottom: 10px;
}

/* Button Styles */
.behind-the-scenes-button {
    margin-left: 15px; 
    padding: 10px 20px; 
    background-color: #ffacbc; 
    color: black; 
    border-radius: 25px; 
    text-align: center; 
    text-decoration: none; 
    font-weight: bold; 
    transition: background-color 0.3s; 
}

.behind-the-scenes-button:hover {
    background-color: white; 
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #ff66b2; 
    border: none;
    color: #fff; 
    font-size: 24px; 
    cursor: pointer;
    border-radius: 50%; 
    padding: 10px 15px; 
    transition: background-color 0.3s, transform 0.3s; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}

.close-button:hover {
    background-color: #ff4d94; 
    transform: scale(1.1); 
}

/* Sidebar Styles */
.sidebar {
    position: fixed;
    top: 50%;
    right: -0.24%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
}

.sidebar a {
    padding: 10px;
    text-decoration: none;
    color: black;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid black;
}

.sidebar a:hover {
    background-color: #ffacbc; 
}

/* Keyframes Animations */
@keyframes contentOut {
    to {
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

@keyframes showContent {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes showImage {
    to {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

@keyframes showThumbnail {
    from {
        width: 0;
        opacity: 0;
    }
}

@keyframes effectNext {
    from {
        transform: translateX(150px);
    }
}

@keyframes outFrame {
    to {
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

/* Media Queries */
@media screen and (max-width: 678px) {
    .slider .list .item .content {
        padding-right: 0;
    }

    .slider .list .item .content .title {
        font-size: 50px;
    }

    .overlay-description-container {
        flex-direction: column;
        gap: 20px;
    }
}
